<%- include("header") -%>
 
<h2>This is the about Page</h2>

<p>Hello My name is Amritanhu Kumar. I am a web developer and a programmer. I also play Piano. THis is a to do list using embedded javascript
</p>
<%- include("footer") -%>
